<section id="about" >
    <h2>&lt;/About Me&gt;</h2>
    <p id="aboutme">I am a strong operations professional with a Bachelor's degree focused in computer science.<br> Throughout my
        academic journey I have gained practical experiences with programming languages like C,C++, JAVA, PYTHON and honed skills in DBMS, SQL,HTML AND CSS.<br>
        Currently expanding my knowledge and skills are essential to me.<br>
        Along with this , I love creating designs and working on canva and photoshop.
    </p>
</section>