#aboutme{
    font-family:'poppins';
    color:rgb(66, 12, 66);
    display:flex;
    padding:60px;
    font-size:20px;
    line-height: 32px; 
    height:60vh;
    
}
h2{
    padding-top: 100px;
    font-size:250%;
    font-weight: 600;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family:'poppins',Arial, Helvetica, sans-serif;
    z-index: 999;

}
