<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<body>
    <div class="wrapper">
        <div class="content">
            <app-home></app-home>
            <app-aboutme></app-aboutme>
            <app-projects></app-projects>
            <app-skills></app-skills>
            <app-testimonial></app-testimonial>
            <app-contact></app-contact>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
      </div>
</body>
<!-- <div class="cursor"></div>
<div class="cursor-trail"></div> -->
